.link-block a {
  margin: 5px;
}

.publication-title {
}

.publication-header .hero-body {
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.finding-box {
  background-color: #fff2d9ff;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 14px;
  font-family: "Georgia", serif;
  font-size: 1.1em;
  max-width: 600px;
  line-height: 1.4;
  text-align: left;
  display: inline-block;
}

.method-setting {
  font-family: "Georgia", serif;
}